.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    height: 100%;
  }
}
